.container {
  font-size: 16px;
  line-height: 1.5;
}

.container {
  font-size: 14px;
  line-height: 1.5;
}

.box {
  color: yellow;
  background-color: rgb(95, 95, 34);
  padding: 20px;
  background-image: url(/imags);
}
